.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.headline h2 { 
  color: white; 
  letter-spacing: 0.05em;
  font-variant: small-caps;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal a {
  color: white;
}

.reveal a:hover {
  color: white;
  font-weight: bold;
}

.silver-fox { color: #D4D4DC !important; }

.white-text{
color: white;
font-weight: bold;
}

.box-padding #boxed-text {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pb{
  color: rgb(255, 255, 255);
  font-size: 70px !important;
  font-family: "News Cycle", Impact, sans-serif !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
}

.maquette1{
  background-position: right 20% bottom 70%;
}

.maquette2{
  background-position: right 50% bottom 50%;
}

.maquette3{
  background-position: right 70% bottom 20%;
}